<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="CustomerService" class="spring.aop.advice.CustomerService">
        <property name="name" value="xyz"/>
        <property name="url" value="www.google.com"/>
    </bean>
    <bean id="HiJackBeforeMethod" class="spring.aop.advice.Before.Advice.HiJackBeforeMethod"/>
    <bean id="customerServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="CustomerService" />
        <property name="interceptorNames">
            <list>
                <value>hijackAroundMethodBean</value>
            </list>
        </property>
    </bean>

</beans>